   @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

body{
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
} 
.head{
    color:hsl(300, 43%, 22%);
    font-size: 1.5rem;
}
.header{
    font-size: 70px;
}
.container{
    padding:50px 100px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
}
.box{
   background-color :hsl(300, 24%, 96%);
    width: 400px;
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;   
    justify-content: center;
}
    .boxes{
        display: flex;
        gap: 25px;
        flex-direction: column;
    }
    .b-2{
        left: 50px;
        position: relative;
    }
    .b-3{
        left: 100px;
        position: relative;
    }

    .persona{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    .boxers{
        background-color: hsl(300, 43%, 22%);
        color:white;
        padding:20px;
        width:300px;
        font-size: 16px;
        border-radius: 10px;
     }
   .imgs{
    width: 50px;

        border-radius: 100px;
    }
    .spann{
        color: hsl(333, 80%, 67%);
    }

    .c-1{
        position: relative;
        bottom:20px;
    }
    .c-3{
        position:relative;
        top:20px;
    }